/* タブレット向けレイアウト jQueryの800pxに合わせている*/
@media all and (max-width: 1000px) {
  #base-info-contents,#resson-contents,#introduce-contents {
    width:350px;
  }
}

@media all and (max-width: 817px) {
  #news {
    float:none;
  }
  #base-info-contents,#resson-contents,#introduce-contents {
    width:500px;
  }
}
  
  /* スマホ向けレイアウト */
@media all and (max-width: 670px) {
  #inquire-link-btn {
    top:200px;
  }
}